name: ZAP Scan against Juice Shop

on:
  workflow_dispatch:

permissions:
  contents: write
  issues: write

jobs:
  zap:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start Juice Shop
        run: |
          docker run -d -p 3000:3000 bkimminich/juice-shop
          sleep 20

      - name: Run ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.12.0
        with:
          target: "http://localhost:3000"
          token: ${{ secrets.GITHUB_TOKEN }}
          allow_issue_writing: true
          issue_title: "ZAP Security Scan Findings"

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: report.html
